/* Tu CSS va aqui */
/*=====================================================================utilities==============================================================*/
.text-white{
	color: white
}

.pd-5-10{
	padding: 2% 13%;
}

/*=====================================================================utilities==============================================================*/

*{
  box-sizing: border-box;
}
.barra-menu{
  background-color: white;
  border:none;
}
header{
  font-weight: bold;
}
.navbar-default .navbar-brand{
  color: red;
}
.linea{
  width: 7%;
  border-bottom: 5px solid #F05F40;
  display: inline-block; 
  margin-bottom: 1%;
}
.navbar-default .navbar-nav > li > a{
  color: #080808;
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover{
  color:#f05f40;
}
img{
  width: 100%;
}

/* ----------------- bloque1 : Banner ---------------- */
.banner{
  background-image: url(../img/header.jpg);
  padding: 15% 0; 
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 10%;
}
.banner .text-banner .container h1{
  font-weight: bold;
} 
.boton1{
  width: 18%;
  height: 60%;
  background-color: #F05F40;
  border-radius: 23px;
  padding: 1% 0 0 0%;
  box-sizing: border-box;
  margin: 3% 0 0 40%;
}
/*=================================================================Section 1==============================================================*/

.box-red{
    background-color: #f05f40;
    height: 400px;
    margin-top: -20;
}
.linea-blanca{
	width: 70px;
	border-bottom: 5px solid white;
	margin:0 auto; 
}
.parrafo2{
	font-size: 20px;
}
.ico{
	color:#f05f40;
	font-size: 100px;
	padding-top: 100px;
	
}

.linea-negro{
	width: 70px;
	border-bottom: 5px solid black;
	margin:0 auto;
	padding-bottom: 16px;
    margin-bottom: 27px;
}

.img{
	width: 100%;
/*=====================================================================imagenes hover==============================================================*/
	
}
.vividworknav {
      width: 100%;
      height: auto;
      float: left;
      padding: 0;
      position: relative;
      background-color:#f05f40;

    }

    .vividworknav:hover img {
      opacity: 0.3;
    }

    .vividworknav:hover .work-text-content {
      opacity: 1; 
    }

    .vividworknav img {
      padding: 0;
      width: 100%;
      display: block;
      opacity: 1;
    }

    .vividworknav img,
    .work-text-content {
      -webkit-transition: opacity 0.5s ease-out;
      -moz-transition: opacity 0.5s ease-out;
      -o-transition: opacity 0.5s ease-out;
      transition: opacity 0.5s ease-out;
    }
.work-text-content {
      position: absolute;
      color: white;
      left: 0;
      top: 25%;
      right: 0;
      bottom: 0;
      font-size: 24px;
      text-align: center;
      opacity: 0;
    }
.padding{
      padding-top: 5%;
    } 
.col-md-4 {
      padding: 0px;
      margin: 0px;
    }   
/*=====================================================================footer==============================================================*/
.plomito{
   background-color: #3e3f40;
    height: 200px;
    margin-top: 0;
}
.btn-default {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
    border-radius: 26px;
    padding: 15px 40px;
    margin-left: 43%;
}
.parrafo-plomito{
  font-size: 2em;
}
.ico-footer{
  font-size: 50px;

}
.linea2{
  width: 70px;
  border-bottom: 5px solid #F05F40;
  margin:0 auto; 
}
/*========================================Media==============================================================*/
@media screen and (min-width: 270px) and (max-width : 600px){
  .banner{
    background-image: url(../img/header.jpg);
    padding: 6%;
    background-size: 300%;
  }
  .banner h1{
    font-size: 200%;
  }
  .boton1 {
    width: 80%;
    height: 60%;
    background-color: #F05F40;
    border-radius: 23px;
    padding: 3% 0 0 0%;
    margin: 5% 0 10px 10%;
  }
  .btn-default {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
    border-radius: 26px;
    padding: 15px 40px;
    margin-left: 20%;
}
  #sobre-mi{
    padding: 8%;
  }
 .linea{
  width: 70px;
  border-bottom: 5px solid #f05f40; /*red*/
  margin:0 auto;
}

}
